.nav-links{
    min-width: 20%;
}

.result{
    display: none;
    background-color: rgb(36, 163, 163);
}

.result span b{
    color: #ddd;
}

.rs{
    display: flex;
    
}

.rs * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-link{
    width: 70%;
    
}
.visits-info{
    width: 30%;
}

@media screen and (max-width:800px){
    .rs{
        width: 100%;
    }
}